/* VARIABLES */
:root {
  --primary: #000;
  --primary-color: #3b5998;
  --text-color: white;
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto 30px;
  font-family: sans-serif;
}

/* GLOBAL CLASSES*/
.text-center {
  text-align: center !important;
}

.heading {
  margin: 2px 2px;
}

/* CUSTOM STYLES*/
header {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 1px 0;
  margin: 0%;
}

.logo {
  width: 200px;
}

.wrapper {
  display: flex;
}

.search-group {
  justify-self: left;
  display: grid;

  /* SS need extra param as there are 4 items (prev was only 3) */
  grid-template-rows: 75px 1rem 75px auto;

  margin-right: 20px;
  padding: 16px 0px;
  border-right: 1px solid grey;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 8px 0px;
}

.search-list li {
  list-style-type: none;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 100px;
  margin: 8px 16px;
}

#fetchbook-search-title {
  align-items: center;
  align-content: center;
  background-color: aqua;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-input,
.search-button {
  margin: 8px 0px;
  padding: 8px 15px;
  border: 1px solid;
  border-radius: 0px;
  font-size: 0.75rem;
}

.search-input {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border-style: solid hidden solid solid;
  width: 200px;
}

input[type="text"] {
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 10px;
}

.search-button {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: var(--text-color);
}

.search-group-hr {
  padding: 0.5rem 1.5rem;
}

hr {
  margin: 0;
}

.search-list {
  margin-top: 0.5rem;
}

.search-list > *:not(h3) {
  padding: 8px 40px;
  border-bottom: 1px solid grey;
  font-size: 13px;
  color: slategrey;
}

.search-list h3 {
  font-size: 18px;
  color: darkslategrey;
}

.righth-info-group {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5px;
}

main {
  display: grid;
  margin: 1.5rem 1.5rem 1.5rem 0px;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100px auto;
}

#searchResCards {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 1.5rem 1.5rem 0px;
  gap: 10px;
}

#nytSection {
  grid-column: 1/2;
  padding-right: 10px;
}

#nytCatSelect {
  grid-column: 2/3;
}

#nytBookList {
  grid-column: 1/3;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 16px;
  background: var(--primary-color);
  color: var(--text-color);
}

footer p {
  padding-right: 10px;
}

@media (max-width: 1000px) {
  #contentSection {
    flex-direction: column;
  }
  .heading {
    text-align: center;
  }
  .input-group {
    width: auto;
  }
  .search-form {
    display: flex;
    justify-content: center;
  }

  #nytSection {
    font-size: 25px;
  }
  #nytCatSelect {
    text-align: center;
  }
  #nytBookList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
  }
  .search-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 30px;
  }
  .search-list p {
    margin-top: 0;
    margin-bottom: 0.1rem;
    text-align: center;
    box-shadow: 1px 1px 1px 1px grey;
    width: fit-content;
    padding: 20px;
  }

  #searchResCards {
    justify-content: space-evenly;
  }
}
@media (max-width: 680px) {
  main {
    display: flex;
    flex-direction: column;
  }
  #nytSection {
    text-align: center;
  }
  #searchResCards {
    margin-left: auto;
    margin-right: auto;
  }
}
